
#header,
.header {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
}

#site-header-inner {

    background-color: inherit !important; /* headerbg */
    position: relative;
    /* height: 100%; */
    padding: 21px 0px 21px;
}

.HeaderBG {
    background-color: inherit; /* headerbg */
}

#site-header-inner {
    background-color: transparent !important; /* headerbg */
}

header {
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
    box-shadow: 0px 5px 14.25px 0.75px #ff030c;
}
.header-bg-black {
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
}

#header,
.header {
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
    box-shadow: 0 0 0 aliceblue;
}


#header.is-fixed {
    background-color: rgba(0, 0, 0, .375); /* headerbg */
}

/* Ensure this only applies when .header-bg-black-toggle is added */
#header.header-bg-black-toggle {
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
}

#header.header-bg-black-toggle {
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
}

/* Preserves the rgba(0, 0, 0, .375) transparent background when not toggled *//* headerbg */
#header.homepagex.header-bg-black-toggle {
    background-color: rgba(0, 0, 0, .375) !important; /* headerbg */
}
