/* File: resources/js/assets/styles/ShopHome.module.css */

.shop-container {
    display: flex;
    gap: 1rem;
  }
  
  .no-products-message {
    @apply flex flex-col items-center justify-center min-h-[400px] w-full;
  }
  
@media (min-width: 1600px) {
    .shop-container {
        @apply px-16;
    }
}

@media (max-width: 640px) {
    .shop-container {
        @apply flex-col;
    }
}
@media (max-width: 769px) {
    .shop-container[data-v-3b0b500c] {
      display: inherit !important;
    }
  }

  @media (min-width: 630px) and (max-width: 830px) {
    .shop-container[data-v-3b0b500c] {
      display: inherit !important;
    }
  }
  @media (min-width: 770px) and (max-width:1024px) {
    .shop-container[data-v-3b0b500c] {
      display: inherit !important;
    }
    .filters-sidebar[data-v-2162cfdb] {
      width: 100%;
      flex-shrink: 0;
    }
  }
 